<h1> Edit <%= cryptids.name %> </h1>

<form method="POST" action="/cryptids/<%= cryptidsIndex %>?_method=PUT"> 
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="<%= cryptids.name %>">
    
    <label for="image">Image URL:</label>
    <input type="text" name="img_url" id="type" value="<%= cryptids.img_url %>">

    <input type="submit" value="Edit <%= cryptids.name%>">

</form>